<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Rating</th>
            <th>Title</th>
            <th>Language</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">4.8</td>
            <td>Acrylic (Transparent)</td>
            <td>Python</td>
            <td>Easy</td>
        </tr>
    </tbody>
</table>
